
#banner video{  
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1550px;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin-right: 0;
}


#banner .contenedor  {
    width: 100%;
    position: absolute;
    top: 150px;
    color: white;
    font-family:cursive;
    z-index: 50;
}

#banner .contenedor h2,p,a{
    margin-left: 60px;
}

#banner h2{
    font-size: 29px;
}

#banner a{
    margin-top: 15px;
    display: block;
    width: 100px;
    padding: 10px;
    border:solid 1px green;
    text-decoration: none;
    color: greenyellow;
    border: radius 8px;
}

#banner a:hover{
    background: green;
    
}

@media screen and (max-width: 1080px) {
    #banner .contenedor{
        display: none;
    }
}









