
#banner img{  
    width: 100%;
    height: 1080xp;
}


#banner .contenedor2 p {
    display: flex;
    text-align: center;   
    position: absolute;
    top: 150px;
    left: 50px;
    color: white;
    font-family:cursive;
     
}





#banner a{
    margin-top: 15px;
    display: block;
    width: 100px;
    padding: 10px;
    border:solid 1px green;
    text-decoration: none;
    color: greenyellow;
    border: radius 8px;
}

#banner a:hover{
    background: green;
    
}

@media screen and (max-width: 1080px) {
    #banner .contenedor2{
               
        display: flex;
        flex-direction: column;
        color:green;
    }
    
}

footer .contenedor4{
    text-align: center;
    padding: 40px;
    font-family: fantasy;
    width: auto;   

}
@media screen and (max-width: 1080px) {
    #banner4 .contenedor4{
        display: flex;
        flex-direction: column;
        color:white;
    }
        
}
